/*GLOBAL */
* {
    box-sizing: border-box;
    outline: none;
    transition: all .2s ease 0s;
}

nav {
    padding: 15px;
    background-color: #dfeaff;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 5px; /* 1 */
    overflow: visible; /* 2 */
}

nav a img {
    margin: 5px auto;
}

#minutes {
    margin-top: 35px;
}

.footer-custom {
    text-align: center;
    position: sticky;
    width: 100%;
    background-color: #dfeaff;
    padding: 25px;
}
h1{
    text-align: center;

}